
$lato: 'Lato', sans-serif;

$tabbar-bg: #961b1c;
$tabbar-height: 80px;
$tabbar-hamburger-icon-top:.9rem;
$tabbar-hamburger-icon-width:3rem;
$off-canvas-link-padding:1rem;

$panel-bg: rgba(255,255,255,.9);
$panel-border-style: none;
$panel-border-size: 0;

$tabs-navigation-bg-color:#e05657;





@import "settings";
@import "foundation";
@import "jquery.fullPage";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Global */
.row.arrow {
  .panel {
    width: 50px; padding: 10px; cursor: pointer;
    img {width: 90%;}
  }
  &.up {
    img {
              transform:rotate(180deg);
          -ms-transform:rotate(180deg); /* IE 9 */
      -webkit-transform:rotate(180deg); /* Safari and Chrome */      
    }
  }
}


/* Nav */
nav.tab-bar {z-index: 100; position: fixed; width: 100%; top:0;}
.right-off-canvas-menu {position: fixed; top:0;}
section.left.tab-bar-section {
  img {width: 130px;}
}

a.menu-icon {
  span {
    height: .2rem;
    -webkit-box-shadow:     1px 15px 1px 1px $tabbar-menu-icon-color,
                            1px 25px 1px 1px $tabbar-menu-icon-color,
                            1px 35px 1px 1px $tabbar-menu-icon-color;
        box-shadow:         0 15px 0 1px $tabbar-menu-icon-color,
                            0 25px 0 1px $tabbar-menu-icon-color,
                            0 35px 0 1px $tabbar-menu-icon-color;
  }
  &:hover span {
    -webkit-box-shadow:     1px 15px 1px 1px #b3b3b3,
                            1px 25px 1px 1px #b3b3b3,
                            1px 35px 1px 1px #b3b3b3;
        box-shadow:         0 15px 0 1px #b3b3b3,
                            0 25px 0 1px #b3b3b3,
                            0 35px 0 1px #b3b3b3;    
  }
}

.off-canvas-list {
  li {
    a {font-family: $lato;}
  }
}

/* Section 1 */
.section.one {
  background: url(../images/orr.jpg) 0 0 no-repeat;
  background-size:cover;
  .row:first-child {margin-top:70px;}
  .scroll {text-align: center;
    .panel {cursor: pointer; width: 290px; margin: 0 auto;}
    #well {
      width: 190px;
      overflow: hidden; 
      margin:0 auto;
      padding: 0 20px;
      text-align: left;
      h3 {
        background: -webkit-gradient(linear,left top,right top,color-stop(0, #4d4d4d),color-stop(0.4, #4d4d4d),color-stop(0.5, white),color-stop(0.6, #4d4d4d),color-stop(1, #4d4d4d)); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: slidetounlock 4s infinite;
        padding: 0;
        width: 300%;
        background-repeat: no-repeat;
      } 
    }
    img {width: 50px;}
  }
}
@-webkit-keyframes slidetounlock {
  0% {
    background-position: -265px 0;
  }
  100% {
    background-position: 0 0;
  }
}


/* Section 2 */
.section.two {
  background: url(../images/work.jpg) 0 0 no-repeat;
  background-size: cover;
}

/* Section 3 */
.section.three {
  background: url(../images/resume.jpg) 0 0 no-repeat;
  background-size: cover;
}

/* Section 4 */
.section.four {
  background: url(../images/contact.jpg) 0 0 no-repeat;
  background-size: cover;
  ul {-webkit-padding-start: 0; margin-left:0; list-style: none;}
}

/* Section Role */
section.role {
  background: url(../images/ux-bg.png) 0 0 repeat;
  margin-top: $tabbar-height;
  padding-top: 20px;
  dl.tabs {
    dd {
      a {border-radius: 3px; margin-bottom: 10px; margin-right: 10px; padding-left:20px; padding-right:20px;}
      &.active {
        a {border: 2px solid #222; margin: -2px 8px 8px 0;}
      }
    }
  }
  .tabs-content {background: $tabs-navigation-active-bg-color; 
                 border-radius: 3px; padding: 0 20px;
    .content {width: 100%; word-wrap: break-word;
      iframe, img {margin:10px auto; display: block;
        &.border {border: 1px solid #222;}
      }
      .h_iframe        {position:relative; margin-bottom: 25px;}
      .h_iframe .ratio {display:block;width:100%;height:auto; margin: 0 !important; display: inline-block;}
      .h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}            
    }
  }
}

.reveal-modal {max-height: 80%; text-align: center;
  img {max-width: 100%; max-height: 90%;}
}

@media only screen and (min-width: 40.063em) {
  .section.one {
    .scroll {
      #well {width: 223px;}
    }
  }
}
